body {
    /* ArtBoard */
    width: 1440px;
    height: 900px;
    background: linear-gradient(359.75deg, #8489FF 0.23%, #61C0F5 99.79%);
    /* background-color: aqua; */
}

#logo {
    color: #FFB9AF;
    width: 177px;
    height: 43px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 34.375px;
    line-height: 43px;
    margin-top: 0%;
    margin-bottom: 0%;
    position: absolute;
    width: 276px;
    height: 43px;
    left: 135px;
    top: 53px;


}


#commerce {
    color: #FFFFFF;
    width: 177px;
    height: 43px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 34.375px;
    line-height: 43px;
}

#main {

    position: absolute;
    width: 570px;
    height: 29.43px;
    left: 435px;
    top: 60px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;

}

li {
    list-style-type: none;
}

#home {
    /* Home */


    position: absolute;
    width: 76.52px;
    height: 29.43px;
    left: 0px;
    top: 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24.5267px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;

}

#about {

    position: absolute;
    width: 77.5px;
    height: 29.43px;
    left: 120.67px;
    top: 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24.5267px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;

}

#contact {
    /* Contact */


    position: absolute;
    width: 99.09px;
    height: 29.43px;
    left: 241.34px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24.5267px;
    line-height: 30px;
    /* identical to box height */
    color: #FFFFFF;



}

#blog {
    /* Blog */

    position: absolute;
    width: 58.86px;
    height: 29.43px;
    left: 382.62px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24.5267px;
    line-height: 30px;
    /* identical to box height */


    color: #FFFFFF;

}

#videos {

    /* Videos */

    position: absolute;
    width: 84.37px;
    height: 29.43px;
    left: 485.63px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24.5267px;
    line-height: 30px;
    /* identical to box height */


    color: #FFFFFF;

}

#telefone {
    position: absolute;
    width: 202px;
    height: 23.05px;
    left: 1102px;
    top: 63px;


}

#tel-numero {

    position: absolute;
    width: 169px;
    height: 23.05px;
    left: 33px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19.2045px;
    line-height: 23px;
    /* identical to box height */
    top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #FFFFFF;
}


#tel-icone {

    position: absolute;
    width: 19px;
    height: 19px;
    left: 0px;
    top: 3px;

}


#titulo {
    position: absolute;
    width: 521.13px;
    height: 191.04px;
    left: 0px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 78.4px;
    line-height: 133%;
    /* or 105px */

    letter-spacing: 0.025em;

    color: #FFFFFF;
    margin-bottom: 0%;
    margin-top: 0%;
}

#subtitulo {
    position: absolute;
    width: 543.05px;
    height: 102.89px;
    left: 1px;
    top: 227.04px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20.2852px;
    line-height: 170%;
    /* or 34px */

    letter-spacing: 0.015em;

    color: #FFFFFF;
}

#texts {
    position: absolute;
    width: 544.05px;
    height: 329.94px;
    left: 135px;
    top: 238px;


}